# Configure Python development environment.
export UV_PYTHON_PREFERENCE="only-managed" UV_PYTHON="3.8"
[ -d ".venv" ] || uv venv
[ ! -f "requirements.txt" ] || uv pip install -r requirements.txt
[ ! -f "pyproject.toml" ] || uv pip install --all-extras -r pyproject.toml --editable .
. ./.venv/bin/activate
