!.gitkeep

/.venv/
/requirements.txt
/dist/
/build/
/public/
/.devbox/
/.helmwave/
secrets/

*.tmp
.vscode/
.DS_store

src/**/_version.py
*.pyc
.coverage
.ipynb_checkpoints/
.tox/
*.egg-info/
.mypy_cache/
__pycache__/
.pytest_cache/
.ruff_cache/
.aider*
